@model List<SagaEvent.Models.ORDER>
@using SagaEvent.Controllers




@{ Layout = null; }

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />


    <link rel="stylesheet" href="~/Content/admindashstyle.css">
    <title>Admin panel</title>
</head>

<body>
    <div class="container">
        <div class="topbar">
            <div class="logo">
                <h3>Welcome @Session["adminEmailSession"]</h3>
            </div>


            <div class="user">
                <button class="btn-danger"><a href="@Url.Action("AdminLogout", "Admin")">LogOut<span class="sr-only">(current)</span></a></button>


            </div>
        </div>
        @{ if (@Session["adminEmailSession"].Equals("admin@gmail.com"))
            {
<div class="sidebar">
    <ul>
        <li>
            <a href="../Admin/ViewOrders">
                <i class="fas fa-chart-bar"></i>
                <div>All Orders</div>
            </a>
        </li>
        <li>
            <a href="../Admin/AddAdmin">
                <i class="fas fa-user"></i>
                <div>Add Admin</div>
            </a>
        </li>

        <li>
            <a href="../Admin/ViewUser">
                <i class="fas fa-users"></i>
                <div>All User</div>
            </a>
        </li>


        <li>
            <a href="../Admin/AddEvent">
                <i class="fas fa-cog"></i>
                <div>Add Event</div>
            </a>
        </li>
        <li>
            <a href="../Admin/ViewEvents">
                <i class="fas fa-th-large"></i>
                <div>All Events</div>
            </a>
        </li>
    </ul>
</div> }
else
{
<div class="sidebar">
    <ul>
        <li>
            <a href="../Admin/ViewOrders">
                <i class="fas fa-chart-bar"></i>
                <div>All Orders</div>
            </a>
        </li>
        @*<li>
                <a href="../adminlogin/addadmin">
                    <i class="fas fa-user"></i>
                    <div>Add Admin</div>
                </a>
            </li>*@

        @*<li>
                <a href="#">
                    <i class="fas fa-users"></i>
                    <div>All User</div>
                </a>
            </li>*@


        <li>
            <a href="../Admin/AddEvent">
                <i class="fas fa-cog"></i>
                <div>Add Event</div>
            </a>
        </li>
        <li>
            <a href="../Admin/ViewEvents">
                <i class="fas fa-th-large"></i>
                <div>All Events</div>
            </a>
        </li>
    </ul>
</div> } }
        <div class="main">
            <div class="charts">
                <div class="chart">



                    <table class="table-bordered">
                        <tr>
                            <th>Order Status</th>
                            <th>Payment Status</th>
                            <th>Guest Number</th>
                            <th>Event Date</th>
                            <th>Event ID</th>
                            <th>Food ID</th>
                            <th>User ID</th>
                            <th>Event Place</th>
                            <th>Action</th>

                        </tr>

                        @foreach (var item in Model)
                        {
                    <tr>
                        <td>@item.orderStatus</td>
                        <td>@item.paymentStatus</td>
                        <td>@item.guestNumber</td>
                        <td>@item.eventDate</td>
                        <td>@item.eventId</td>
                        <td>@item.foodId</td>
                        <td>@item.userId</td>
                        <td>@item.eventPlace</td>
                        <td>
                            <a href="@Url.Action("UpdateOrders", new {item.orderStatus,item.paymentStatus,item.guestNumber,item.eventDate,item.eventId,item.foodId,item.userId,item.eventPlace})" class="btn btn-success">Edit</a>
                            
                        </td>
                    </tr>}

                    </table>
                </div>
            </div>
        </div>

    </div>
</body>

</html>

